doctype html
html(lang="en")
	head
		title=Oauth
		link(href='/css/standard.css',rel='stylesheet')
		script(src='/js/utils.js')
		script(src='/js/callback.js')
	body
		#navbar
			ul.nav
				li.nav
					a.button(href=app_baseUrl+"/home") Home
					a.button(href=app_baseUrl+"/login") Login
					a.button(href=app_baseUrl+"/logout") Logout
					a.button(onclick="authorize()") Authorize
					a.button(onclick="getToken()") Get Token
					a.button(href=app_baseUrl+"/metadata.xml") SP metadata
		#sitecontent
			h2 Oauth Assertion data page
			h3 Attributes
			p empty for now
			p #{code}
			
